.search-page-wrapper{
  background-color: white;
  min-height: 100vh;
 // padding: 5.3rem;

}
.form-wrapper{
  padding: 5.3%;
  .search-form {
    min-width: 150px;
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%,-50%);
    .search-full-width {
      width: 100%;
      .search-input{
        font-size: 40px
      }
    }
    .search-button-wrapper{
      float: right;padding-right: 20px;padding-top: 20px;
        .search-button{
          padding: 5px 30px;
        }
    }
 }
}

@media all and (min-width:1023px){
  .form-wrapper .search-form .search-button-wrapper {
    padding-right: 100px;
    padding-top: 20px;
  }
}