<section class="search-page-wrapper">
  <div class="form-wrapper">
    <form class="search-form">
      <mat-form-field class="search-full-width">
        <input class="search-input" matInput search placeholder="Search Products..">
      </mat-form-field>
      <div class="search-button-wrapper">
        <button class="search-button" color="primary" mat-raised-button="primary">Is India ??</button>
      </div>
    </form>
  </div>
</section>
