<mat-card class="login-card">
  <h3>Login</h3>
  <mat-card-content>
    <mat-form-field class="login-form">
      <input matInput placeholder="Email Id" type="email" [(ngModel)]="email" name="email" required>
      <mat-error>
        Please enter your email Id
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-form">
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="email" required>
      <mat-error>
        Please enter your password
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="login-btn-wrapper">
    <button (click)="submitform()" class="login-btn" mat-raised-button color="primary">Login</button>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>