.login-card {
  max-width: 320px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 40px;
  .login-form {
    width: 100%;
    padding-top: 20px;
  }
  .login-btn-wrapper{
    text-align: center;
    .login-btn{
      padding: 0 30px
    }
  }
}



